@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

th {
  text-align: start;
}

td, th {
  @apply p-1 text-sm
}

table {
  border-collapse:separate;
  border:solid white 1px;
  border-radius:5px;
}

/* td, th {
  border-left:solid white 2px;
  border-top:solid white 2px;
} */
td {
  @apply text-sm text-white
}

th {
  @apply bg-primary border-t-0 text-white
}

td:first-child, th:first-child {
   border-left: none;
}

.games-container img {
  @apply 
  w-[250px]
  cursor-pointer 
  hover:scale-105 
  hover:opacity-100 
  opacity-80 
  ease-in-out 
  duration-300
}

.buttons-animation {
  @apply cursor-pointer hover:scale-110 ease-in-out duration-300
}

td img {
  -webkit-filter: drop-shadow(0px 0px 1px white);
  filter: drop-shadow(0 0 1px white);
}

.show-animation {
  animation: slideAnimation 1 ease-in-out;
}
.hidden-animation {
  animation: slideBackAnimation 1 ease-in-out;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideBackAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#mainContent::-webkit-scrollbar {
  width: 5px;
}

#messages::-webkit-scrollbar {
  width: 0px;
}

#messages::-webkit-scrollbar-thumb {
  background-color: #f6c758;
  border-radius: 5px;
}

#messages::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 5px;
}
